#Fri Aug 31 17:22:01 EAT 2012
AUTH_CODE=4/wO8-wBoRpBRuhIQ4JakXJXplEM3M.stHtlK6ByEkaOl05ti8ZT3Z1aCL6cgI 
PORT=65500
CLIENT_SECRET=GxuW8kypMYIc5pYUKTuLHM5W
ACCESS_TOKEN=ya29.AHES6ZT3RLNQCZgHd6PcR_quJOx_Gv1MhiQnNVsiSN4jWA
CLIENT_ID=161984073788.apps.googleusercontent.com
APP_NAME=ASRemind
API_KEY=AIzaSyDsnT8j9G9kcH9XcxGdvn6zJ-_bsnOSAZ8
REFRESH_TOKEN=1/W-vzynIvDBNZzmt8SryeKZw2nOrESxuOSTCChvhhaxw
REDIRECT_URI=http\://localhost\:65500
